volumes:
  products_db:
  orders_db:
  otel-collector-data:

networks:
  product_backend_network:
  order_backend_network:
  dstrace_kafka_network:
    external: true
  dstrace_log_network:
    external: true

services:
  product-service:
    container_name: product-service-container
    image: product-service:v1.0.3
    build:
      context: ../products
      dockerfile: Imagefile
    networks:
      - product_backend_network
      - dstrace_kafka_network
      - dstrace_log_network
    environment:
      - PORT=8082
      - DB_HOST=db-products-service
      - DB_PORT=3306
      - DB_NAME=products
      - DB_USERNAME=product
      - DB_PASSWORD=products@20202
      - DB_DIALECT=mysql
      - DB_LOGGING=1
      - KAFKA_BROKERS=kafka:9092
      - LOG_COLLECTOR_ENDPOINT=otel_collector_service:4317
    ports:
      - 8082:8082
    volumes:
      - ../products:/usr/app/:cached
    depends_on:
      db-products-service:
          condition: service_healthy

  db-products-service:
    image: mysql:8.0.30
    container_name: products-db-container
    command:
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_unicode_ci'
      - '--skip-character-set-client-handshake'
    networks:
      - product_backend_network
    environment:
      - MYSQL_ROOT_PASSWORD=products2022
      - MYSQL_DATABASE=products
      - MYSQL_USER=product
      - MYSQL_PASSWORD=products@20202
    healthcheck:
      test: [
        "CMD-SHELL",
        "mysqladmin ping -h localhost -u$MYSQL_USER -p$MYSQL_PASSWORD"
      ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    ports:
      - '3307:3306'
    volumes:
      - products_db:/var/lib/mysql:delegated

  order-service:
    container_name: order-service-container
    image: order-service:v1.0.3
    build:
      context: ../orders
      dockerfile: Imagefile
    networks:
      - order_backend_network
      - dstrace_kafka_network
      - dstrace_log_network
    environment:
      - PORT=8083
      - DB_HOST=db-orders-service
      - DB_PORT=3306
      - DB_NAME=orders
      - DB_USERNAME=order
      - DB_PASSWORD=orders_20202
      - DB_DIALECT=mysql
      - DB_LOGGING=1
      - KAFKA_BROKERS=kafka:9092
      - LOG_COLLECTOR_ENDPOINT=otel_collector_service:4317
    ports:
      - 8083:8083
    volumes:
      - ../orders/:/usr/app/
    depends_on:
      db-orders-service:
          condition: service_healthy

  db-orders-service:
    image: mysql:8.0.30
    container_name: orders-db-container
    command:
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_unicode_ci'
      - '--skip-character-set-client-handshake'
    networks:
      - order_backend_network
    environment:
      - MYSQL_ROOT_PASSWORD=orders2022
      - MYSQL_DATABASE=orders
      - MYSQL_USER=order
      - MYSQL_PASSWORD=orders_20202
    healthcheck:
      test: [
        "CMD-SHELL",
        "mysqladmin ping -h localhost -u$MYSQL_USER -p$MYSQL_PASSWORD"
      ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    ports:
      - '3308:3306'
    volumes:
      - orders_db:/var/lib/mysql:delegated

  # consumer_service_cpp:
  #   container_name: consumer-service-cpp-container
  #   image: consumer-service:v1.0.3
  #   build:
  #     context: ../consumers
  #     dockerfile: Imagefile
  #   networks:
  #     - order_backend_network
  #     - dstrace_kafka_network
  #     - dstrace_log_network
  #   environment:
  #     - KAFKA_BROKERS=kafka1:9092
  #     - LOG_COLLECTOR_ENDPOINT=otel_collector_service:4317
  #     - SERVICE_NAME=order-consumer-sidecar-ms
  #   volumes:
  #     - ../consumers/src:/usr/app/src

  consumer_service_node:
    container_name: consumer-service-node-container
    image: consumer-service-node:v1.0.3
    build:
      context: ../consumer-node
      dockerfile: Imagefile
    networks:
      - order_backend_network
      - dstrace_kafka_network
      - dstrace_log_network
    environment:
      - KAFKA_BROKERS=kafka:9092
      - LOG_COLLECTOR_ENDPOINT=otel_collector_service:4317
      - SERVICE_NAME=order-consumer-sidecar-ms
    volumes:
      - ../consumer-node/src:/usr/app/src

  otel_collector_service:
    image: signoz/signoz-otel-collector:v0.129.12
    container_name: signoz-otel-collector
    command:
      - --config=/etc/otel-collector-config.yaml
      - --copy-path=/var/tmp/collector-config.yaml
      - --feature-gates=-pkg.translator.prometheus.NormalizeName
#      - --manager-config=/etc/manager-config.yaml #opamp disabled
    networks:
      - dstrace_log_network
    environment:
      - OTEL_RESOURCE_ATTRIBUTES=host.name=signoz-host,os.type=linux
      - LOW_CARDINAL_EXCEPTION_GROUPING=false
    ports:
      # - "1777:1777"     # pprof extension
      - "4317:4317" # OTLP gRPC receiver
      - "4318:4318" # OTLP HTTP receiver
    volumes:
      - ./configs/otel-collector-config.yaml:/etc/otel-collector-config.yaml
      - otel-collector-data:/var/lib/signoz-otel-collector
#      - ./configs/signoz/opamp.yaml:/etc/manager-config.yaml
    logging:
      options:
        max-size: 50m
        max-file: "3"
    restart: unless-stopped
