networks:
  int_log_network:
  dstrace_log_network:
    external: true

services:
  # fluentd_service:
  #   image: fluent/fluentd:v1.11-debian
  #   container_name: fluentd-container
  #   user: root
  #   volumes:
  #     - /var/lib/docker/containers:/fluentd/log/containers
  #     - ../logging/conf/fluent.conf:/fluentd/etc/fluent.conf:cached
  #   logging:
  #     driver: "local"
  #   restart: on-failure

  jaeger_service:
    image: jaegertracing/all-in-one:latest
    container_name: dstrace-jaeger-container
    networks:
      - int_log_network
    ports:
      - "16686:16686"

  zipkin_service:
    image: openzipkin/zipkin:latest
    container_name: dstrace-zipkin-container
    networks:
      - int_log_network
    ports:
      - "9411:9411"

  otel_collector_service:
    image: otel/opentelemetry-collector-contrib:0.56.0
    container_name: dstrace-otel-collector-container
    command: ["--config=/etc/otel-collector-config.yaml"]
    networks:
      - int_log_network
      - dstrace_log_network
    volumes:
      - ./configs/otel-collector-config.yaml:/etc/otel-collector-config.yaml:cached
    depends_on:
      # - fluentd_service
      - jaeger_service
      - zipkin_service
